<% content_for :subtitle do %>
  <%= "... my cousin works for Bit.ly" %>
<% end %>
<%= link_to image_tag('back.png')+'Back', session[:last_article_page] %>
<h1>Editing "<%= @article.title %>"</h1>

<%= render 'form' %>



