/*
In order from top to bottom as it is probably displayed on the page
*/

*,html{
	margin: 0;
	padding: 0;
}

body{
	background: #AAA;
	/*Pretty sure Yong's site is using Helvetica*/
	font-family:  Helvetica, Arial sans-serif;
	margin: 0;
	padding:0;

}

.container {
	margin: 0 auto;
	max-width:960px;
	border: 1px solid #000;
}


.header{
	margin:0;
	background:#CCC;
	padding-left:10px;
	padding-top:8px;
	padding:bottom:0px;
	height:60px;
}

.header h1{
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	letter-spacing:-1.4px;
}

.header p {
	color:#888;
	font-size:12.7px;
	
}

.menubar {
	background:#000;
	padding-top:9px;
	padding-bottom:10px;
	padding-left:10px;
	margin:0;
	letter-spacing:-0.5px;

}
ul, ul a{
	list-style-type:none;
	color:#fff;
	text-decoration:none;
	/*So that it alligns to the left*/
	list-style-position:outside;
	margin:0;
	padding:0;
}

li{
	font-size:17px;
	
	/*Instead of an up and down list*/
	display: inline;
	padding-right:30px;
	/*Spacing betweeen words*/

	margin:0;

}

.content {
	background: #FCFCFC;
	margin: 0px 0px;
	position: relative;
	padding-top:10px;
	padding-left:10px;
	height:207px;

}


.responsebox{
	background:#F0EFff;
	position: absolute;
	padding-left:6px;
	padding-top:6px;
	max-width:340px;
	min-width:340px;
	min-height:79px;
	max-width:79px;
	margin:0;
 	right: 10px;
	top: 10px;
}

#response {
	padding-top:17px;
}


.input, .question{
	/*display: inline-block;*/
	float:left;
}


.question {
	width:200px;

	margin-bottom:20px;
}
#question2{
	clear:both;
}

#question2 select{
	margin-bottom:22px;
}
.footer{
	background-color:#F0F0F0;
	height:33px;
	text-align:center;
	vertical-align:middle;
}

.footer p{
	padding-top:10px;
	font-size:12.7px;
}

.content h2 {
	padding-bottom:19px;
}