<% content_for :subtitle do %>
my cousin works for Bit.ly
<% end %>


<%= link_to image_tag('back.png')+'Back', session[:last_article_page] %>
<h3>Editing "<%= @article.title %>"</h3>

<%= render 'form' %>



