- content_for :subtitle do
  \... not just for the country of Spain
%h3 New article
= link_to image_tag('back.png')+'List all articles', articles_path, title: "back to article listing"
= render 'form'
